[[source]]
url = "https://pypi.doubanio.com/simple"
verify_ssl = true
name = "pypi"

[packages]
captcha = "*"
pillow = "*"
matplotlib = "*"
pycrypto = "*"
tensorflow = "==1.1.0"

[dev-packages]

[requires]
python_version = "3.6"
